<!DOCTYPE html>

<html lang = "en">

    <head>

        <title>CloudFinance Home</title>
        <link rel="stylesheet" href = "static/home.css">

    </head>

    <style>

      table {
        border-collapse: collapse;
        width: 100%;
      }
      
      th, td {
        text-align: left;
        padding: 8px;
      }
      
      tr:nth-child(even) {background-color: #d6e7ea;}

    </style>

    <body>

        <div class = "header">
          <h1>CloudFinance</h1>
          <p>Digitalize Your Bookkeeping Habit</p>
        </div>

        <div class="topnav">
          <a href = "/">Home</a>
          <a href = "/">Categorical Break-down</a>
          <a href = "/trend">Trend</a>
        </div>

        <br>

        <h1>
          Welcome Back, {{username}}!
        </h1>

        <h3>
          Who's ready to get their finances in order?
        </h3>

        <br>

        <h1>
          Break-down of This Month Expenses (as of {{today}})
        </h1>

        <img src = "{{sum_ALL_categories_plot}}"
          alt = "Bar Chart Totaling Expenses of Each Category">

    </body>

</html>