<!DOCTYPE html>

<html lang = "en">

    <head>

        <title>CloudFinance Home</title>
        <link rel="stylesheet" href = "static/home.css">

    </head>

    <style>

      table {
        border-collapse: collapse;
        width: 100%;
      }
      
      th, td {
        text-align: left;
        padding: 8px;
      }
      
      tr:nth-child(even) {background-color: #d6e7ea;}

    </style>

    <body>

        <div class = "header">
          <h1>CloudFinance</h1>
          <p>Digitalize Your Bookkeeping Habit</p>
        </div>

        <div class="topnav">
          <a href = "/">Home</a>
          <a href = "/">Categorical Break-down</a>
          <a href = "/trend">Trend</a>
        </div>

        <br>

        <h1>
          Welcome Back, {{username}}!
        </h1>

        <h3>
          Who's ready to get their finances in order?
        </h3>

        <br>

        <div class = "category-dropdown">
          <button class = "dropbtn">Get A Closer Look</button>
          <div class = "dropdown-content">
            <a href = "/single_category?category=Book">Book</a>
            <a href = "/single_category?category=Business+Services">Business Services</a>
            <a href = "/single_category?category=Clothing">Clothing</a>
            <a href = "/single_category?category=Education">Education</a>
            <a href = "/single_category?category=Entertainment">Entertainment</a>
            <a href = "/single_category?category=Fees">Fees</a>
            <a href = "/single_category?category=Financial">Financial</a>
            <a href = "/single_category?category=Food">Food</a>
            <a href = "/single_category?category=Gift">Gift</a>
            <a href = "/single_category?category=Health">Health</a>
            <a href = "/single_category?category=Home">Home</a>
            <a href = "/single_category?category=Kids">Kids</a>
            <a href = "/single_category?category=Misc">Misc</a>
            <a href = "/single_category?category=Personal">Personal</a>
            <a href = "/single_category?category=Pet">Pet</a>
            <a href = "/single_category?category=Refundable">Refundable</a>
            <a href = "/single_category?category=Shopping">Shopping</a>
            <a href = "/single_category?category=Taxes">Taxes</a>
            <a href = "/single_category?category=Transportation">Transportation</a>
            <a href = "/single_category?category=Uncategorized">Uncategorized</a>
            <a href = "/single_category?category=Utilities">Utilities</a>
          </div>
        </div>

        <br>

        <h1>
          Break-down of This Month Expenses (as of {{today}})
        </h1>

        <img src = "{{sum_ALL_categories_plot}}"
          alt = "Bar Chart Totaling Expenses of Each Category">

        <br>

    </body>

</html>